{% extends "BlackhouseappBluehouseappBundle:layout:layout.html.twig" %}

{% block title %}修改个人资料{% endblock %}
{% block body %}
<div class="row-fluid">

    <div  class= "span7 box">
        <div style="width: 50%;margin: 0 auto">
            <div class="box_cell">
                <table>
                    <tbody>
    {% if member.avatar %}
        <tr>
                        <td width="120" style="text-align:right;">
                            当前头像:
                        </td>
                        <td width="auto">
                            <img src="{{vich_uploader_asset(member,'userImage')|imagine_filter('avatar_image')}}" border="0"  align="default">&nbsp;
                            <img src="{{vich_uploader_asset(member,'userImage')|imagine_filter('small_image')}}"  border="0"  align="default">&nbsp;
                            <img src="{{vich_uploader_asset(member,'userImage')|imagine_filter('mini_image')}}" border="0"  align="default">
                        </td>
                    </tr>
    {% endif %}
                    <tr>
                        <td width="120">

                        </td>
                        <td width="auto">
                            {{form(memberImageForm)}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div style="margin: 20px">

            </div>
        </div>
    </div>

    <div class="span7 box">
    <div style="width: 50%;margin: 0 auto">
        <div style="margin: 20px">
        {{form(form)}}
            </div>
        </div>
    </div>



</div>

{% endblock %}