<!DOCTYPE html>
<html lang="zh_CN" {% block html_attr %}{% endblock html_attr %}>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('bundles/blackhouseappbluehouseapp/vendor/bootstrap-3.2.0/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('bundles/blackhouseappbluehouseapp/vendor/jquery-ui-themes-1.10.4/themes/blitzer/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/blackhouseappbluehouseapp/css/style.css') }}">
    <!--[if lt IE 9]>
    <script src="{{asset('bundles/blackhouseappbluehouseapp/vendor/html5shiv.min.js')}}"></script>
    <script src="{{asset('bundles/blackhouseappbluehouseapp/vendor/respond.min.js')}}"></script>
    <![endif]-->
    {% block header %}{% endblock %}
    {% block top %} {% endblock %}
    <script>
        if(top!==self)
            top.location.href=this.location.href;
    </script>
</head>
<body{% block bodyattr %}{% endblock bodyattr %}>

    <div class="header">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('post') }}">蓝房子</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {% if app.user %}
                        <ul class="nav navbar-nav navbar-right">
                            {% set appUser=app.user %}
                            <li>


                                <span class="glyphicon">
                                        <a href="#">
                                            {% if appUser.avatar %}
                                            <img src="{{vich_uploader_asset(appUser,'userImage')|imagine_filter('small_image')}}"/>
                                            {% else %}
                                                <img src="{{ asset('bundles/blackhouseappbluehouseapp/images/user_default.png') }}"/>

                                            {% endif %}
                                        </a>
                                        </span>




                                </li>


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% if appUser.nickname %}
                                     {{ appUser.nickname }}
                                    {% else %}
                                        {{ appUser.username }}
                                    {% endif %}


                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('member_edit') }}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            修改个人资料</a></li>
                                    <li><a href="{{ path('fos_user_change_password') }}">
                                            <span class="glyphicon glyphicon-lock"></span>
                                            修改密码</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">
                                            <span class="glyphicon glyphicon-log-out"></span>
                                            注销</a></li>
                                </ul>
                            </li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle"
                                       data-toggle="dropdown"> 系统管理 <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('members_list') }}">
                                                <span class="glyphicon glyphicon-user"></span>
                                                用户管理</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                        {% else %}

                        {#<ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle"
                                   data-toggle="dropdown">账户管理 <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('fos_user_security_login') }}">
                                            登录</a></li>
                                    <li><a href="{{ path('fos_user_registration_register') }}">
                                            注册</a></li>

                                </ul>
                            </li>
                        </ul>#}
                            <div style="float:right;height:50px;line-height:50px;font-size:16px;">
                                <a href="{{ path('post') }}" class="box_top">首页</a>&nbsp;&nbsp;&nbsp;
                                <a href="{{ path('fos_user_registration_register') }}" class="box_top">注册</a>&nbsp;&nbsp;&nbsp;
                                <a href="{{ path('fos_user_security_login') }}" class="box_top">登录</a>
                            </div>

                        {% endif %}
                    </div>
                    <!-- /.navbar-collapse -->

                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>



<div class="body">
    <div class="container">
        <div class="box_sep20"></div>
        {% block body %}
        {% endblock %}
        <div class="box_sep20"></div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="">
            © 蓝房子
            <div class="pull-right">
                关于我们
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('bundles/blackhouseappbluehouseapp/vendor/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('bundles/blackhouseappbluehouseapp/vendor/bootstrap-3.2.0/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/blackhouseappbluehouseapp/vendor/jquery-ui-1.10.4/js/jquery-ui-1.10.4.min.js') }}"></script>
<script src="{{ asset('bundles/blackhouseappbluehouseapp/vendor/jquery.tools.min.js') }}"></script>
{% block footer %}{% endblock %}
{% block bottom %}{% endblock %}
</body>
</html>
