{% extends "BlackhouseappBluehouseappBundle:layout:layout.html.twig" %}

{% block title %}蓝房子{% endblock %}
{% block body -%}
    <div class="box">
        {% for entity in entities %}
            <div class="box_cell box_item" style="border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div style="position: absolute; margin: -10px -10px 0px 650px;"></div>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody>
                    <tr>

                        <td width="48" valign="top" align="center">
                            {% if entity.member.avatar %}
                                {% set member=entity.member %}
                            <a href="#">
                                <img src="{{vich_uploader_asset(member,'userImage')|imagine_filter('face_image')}}"/>
                                <span class="glyphicon glyphicon-user"></span>
                             </a>
                            {% else %}
                            <span class="glyphicon glyphicon-user"></span>
                            {% endif %}
                        </td>
                        <td width="10"></td>

                        <td width="auto" valign="middle"><span class="box_item_title"><a
                                        href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.title }}</a></span>

                            <div class="sep5"></div>
                    <span class="box_small box_fade"><div class="votes"></div><a class="box_node" href="#"></a> &nbsp;•&nbsp; <strong><a
                                    href="#">
                                {% if entity.member.nickname %}
                                    {{ entity.member.nickname }}
                                {% else %}
                                    {{ entity.member.username }}
                                {% endif %}
                            </a></strong> &nbsp;•&nbsp; {{ entity.modified|date("m/d/Y H:m") }}
                        {% if lastComments[entity.id] %}
                            &nbsp;•&nbsp; 最后回复来自 <strong><a
                                    href="#">
                                {% if lastComments[entity.id].member.nickname %}
                                {{ lastComments[entity.id].member.nickname }}
                                {% else %}
                                {{ lastComments[entity.id].member.username }}
                                {% endif %}
                            </a></strong>
                        {% endif %}
                    </span>
                        </td>
                        <td width="50" align="right" valign="middle">

                            <a href="#" class="box_count_livid">{{ entity.commentCount }}</a>

                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        {% endfor %}
        <table class="table  table-striped table-hover table-condensed">
            <tfoot>
            <tr>
                <td colspan=8>

                    <div class="clearfix">
                        <div class="pull-right">
                            <a href="{{ path('post_new') }}">
                                发帖子
                            </a>
                        </div>
                    </div>

                </td>
            </tr>
            </tfoot>
        </table>

    </div>
    {{ knp_pagination_render(entities) }}
{% endblock %}
