{% extends "BlackhouseappBluehouseappBundle:Backend/Admin/layout:layout.html.twig" %}
{% from 'BlackhouseappBluehouseappBundle:Macros:misc.html.twig'  import pagination %}


{% block title %}
    禁止IP管理
{% endblock %}

{% block body -%}
{% set entities=banedIPs %}

    <div class="page-header">
        <h2>禁用IP列表  <small></small></h2>
    </div>
    <ol class="breadcrumb clearfix">
        <div class="clearfix">
            <div class="pull-left">
                <a href="{{path('bluehouseapp_banedips_new')}}"><button class="btn btn-primary">创建</button></a>
            </div>
        </div>
    </ol>


    <table class="table  table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ip</th>
                <th>创建时间</th>
                <th>开始日期</th>
                <th>结束日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('bluehouseapp_banedIPs_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.ip }}</td>
                <td>{{ entity.timestamp|date("Y-m-d H:i") }}</td>
                <td>{{ entity.fromDate|date("Y-m-d H:i") }}</td>
                <td>{{ entity.toDate|date("Y-m-d H:i") }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('bluehouseapp_banedIPs_show', { 'id': entity.id }) }}">显示</a>
                    </li>
                    <li>
                        <a href="{{ path('bluehouseapp_banedips_edit', { 'id': entity.id }) }}">编辑</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagination(entities) }}
    {% endblock %}
